:root {
  --blue: #48357C;
  --blue-light: #4464F6;
  --blue-dark: #1B3DD7;
  --white: #FAF8EB;
  --pink: #EF5DA8;
  --pink-dark: #D7398A;
  --gray: #B5B5B5;
  --gray-light: #e5e5e5;
  --yellow: #FFE600;
  --yellow-dark: #FFC002;
  --black: #333333;
}