.float-left {
  float: left;
}
.float-right {
  float: right;
}
.inline-block{
  display: inline-block;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.col-1 {
  width: 24%;
  padding: 0 1%;
}
.col-2 {
  width: 48%;
  padding: 0 1%;
}
.col-3 {
  width: 75%;
}
.col-4 {
  width: 100%;
}

.mt-2 {
  margin-top: 2em;
}

.mt-1{
  margin-top: 1em;
}

.cover {
    object-fit: cover;
}

.mb-1 {
  margin-bottom: 1em;
}

.p-1 {
  padding: 1em;
}

.p-2 {
  padding: 2em;
}

.mt-0 {
  margin-top: 0;
}