.float-left {
    float: left;
  }
  .float-right {
    float: right;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .col-1 {
    width: 24%;
  }
  .col-2 {
    width: 48%;
  }
  .col-3 {
    width: 75%;
  }
  .col-4 {
    width: 100%;
  }
  
  .mt-2 {
    margin-top: 2em;
  }

  .cover {
      object-fit: cover;
  }