@media screen and (max-width: 600px){
    .header .menu{
      height: auto !important;
    }
    .header .menu li{
      display: block;
      float: none;
      padding: 0 12px;
      line-height: 40px;
    }
    #burger {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
    }

    .col-m-1 {
      width: 25% !important;
    }
    .col-m-2 {
      width: 50% !important;
    }
    .col-m-3 {
      width: 75% !important;
    }
    .col-m-4 {
      padding: 0 16px;
      width: 100% !important;
    }
    .d-m-none {
      display: none !important;
    }
    .d-m-block {
      display: block !important;
    }
    .d-m-none {
      display: none !important;
    }

    .p-m-1 {
      padding: 1em;
    }

    .p-m-0 {
      padding: 0;
    }
  }