@media screen and (max-width: 1200px){
    #header-contacts {
      flex-direction: column;
      justify-content: center;
    }
    #header-contacts > * {
      padding: 0.2em;
    }
    .col-t-1 {
      width: 25% !important;
    }
    .col-t-2 {
      width: 50% !important;
    }
    .col-t-3 {
      width: 75% !important;
    }
    .col-t-4 {
      padding: 0 16px;
      width: 100% !important;
    }
    .d-t-none {
      display: none !important;
    }
    .p-t-1 {
      padding: 1em;
    }

    .px-t-1 {
      padding-right: 1em;
      padding-left: 1em;
    }

    .m-t-0 {
      margin: 0 !important;
    }
  }