@font-face {
    font-family: "Molot";
    src: url("Molot.otf");
    font-display: swap;
}

@font-face {
    font-family: "Ag";
    src: url("Ag.otf");
    font-display: swap;
}

@font-face {
    font-family: "Leto";
    src: url("Leto.otf");
    font-display: swap; 
}