:root {
    --yellow:   "#FFE600";
    --blue:     "#48357C"
    --pink: "#EF5DA8"
    --white: "#FAF8EB"
}

html, body {
    height: 100%;
    color: #48357C;
}

#__next{
    height: 100%;
}

.shadow {
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.header-menu a{
    color: #FFE600;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 600;
}

.header-menu a:hover{
    background-color: #FFE600;
    color: #48357C;
    text-decoration: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner {
    background-color: #EF5DA8;
    padding-top: 10px;
    padding-bottom: 10px;
    /* font-size: 24px; */
    /* font-weight: 700; */
}

.banner ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white;
  }
.banner ::-moz-placeholder { /* Firefox 19+ */
    color: white;
  }
.banner :-ms-input-placeholder { /* IE 10+ */
    color: white;
  }
.banner :-moz-placeholder { /* Firefox 18- */
    color: white;
}
.banner-btn {
    background-color: white;
    color: #EF5DA8;
    outline: none;
    border: none;
    padding: 5px;
    /* font-weight: 700; */
    border-radius: 6px;
}

.banner input {
    background-color: #EF5DA8;
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    color: white;
}

.banner span {
    color: white;
}

.footer {
    background-color: #48357C;
    width: 100%;
    height: 200px;
    color: #FFE600;
}
/* ==================================================================== */
.square {
    position: relative;
    /* width: 50%; */
  }
  
  .square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  .square-content {
    position: absolute;
    width: 100%;
    height: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; */
}

  .circle {
    position: absolute;
    background: #FFE600;
    height: 50%;
    width: 50%;
    opacity: 80%;
    border-radius: 50%;
    left: 25%;
    top: 25%;
    cursor: pointer;
    transition: all 1s;
  }
  .circle:hover {
      width: 200%;
      height: 200%;
      left: -50%;
      top: -50%;
  }

  .circle-text {
    color: white;
    margin: 0 auto;
    text-align: center;
    z-index: 1;
    cursor: pointer;
  }

  .circle-text:hover ~ .circle{
    width: 200%;
    height: 200%;
    left: -50%;
    top: -50%;
  }

  .directions-menu {
      list-style-type: none;
      cursor: pointer;
  }
  .directions-menu li{
      color: #48357C;
  }

  .directions-menu li:hover{
    background-color: #FFE600;
}

.directions-menu-selected {
    background-color: #FFE600;
}

.prices-menu {
    list-style-type: none;
    cursor: pointer;
    color: #48357C;
}
.prices-menu li{
}

.prices-menu li:hover{
  background-color: #FFE600;
  /* color: #FAF8EB; */
}

.prices-menu-selected {
  background-color: #FFE600;
  /* color: #FAF8EB; */
}

.schedule-table td{
  width: 160px;
  min-width: 160px;
  border-left: 2px solid #48357C;
  padding: 10px;
}

.schedule-table th{
  min-width: 80px;
  width: 80px;
  padding: 10px;
}

.contacts ul{
  list-style-type: none;
  padding-left: 0;
}